/* ===== Colors ===== */
:root{
    --dark-blue: #07043B;
    --button-blue: #2F65F8;
    --inside-label: #C2C2C2;
    --white: #FFFFFF;
    --green-link: #3DA08F;
    --green-hover: #71DFCC;
    --footer-purple: #575988;
    --light-purpple: #F8F8FE;
    --button-hover: #6C9BFF;
    --active-red: #EF4877;
    --ptag-responsive: #615F7E;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    color: var(--dark-blue);
    background-color: var(--white);
    box-sizing: border-box;
    font-size: 16px;
}

h1{
    font-family: 'Raleway';
}

ul li a{
    font-family: 'Raleway';
}

/* ##### Header ##### */
.header-nav{
    width: 100%;
    padding-top: 20px;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}

.container_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav_navbar{
    width: 300px;
}

.navbar_ul{
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

.navbar_ul_li_a{
    text-decoration: none;
    color: var(--dark-blue);
}

.header-home{
    margin-top: 125px;
}

.header-home_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-home_flex-left{
    width: 35rem;
}

.header-home_flex-left > h1{
    font-size: 2rem;
}

.header-home_flex-left > p{
    font-size: 1.1rem;
    margin: 0px;
}

.header-home_flex-left > form{
    margin-top: 15px;
}

.header-home_flex-left > form input{
    width: 320px;
    padding: 12px;
    font-size: 14px;
}

.header-home_flex-left > form button{
    background-color: var(--button-blue);
    color: var(--white);
    width: 200px;
    padding: 14px 5px;
    font-size: 14px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* ##### Features ##### */
.features{
    background-image: url(../images/Rectangle.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 0px 70px;
    margin-top: 125px;
}

.features-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bi-quote{
    display: inline-block;
    width: 20px;
    height: 20px;
    color: black;
    border: 1px solid black !important;
}

.features-flex_left > h1{
    font-size: 2rem;
    margin: 0px;
}

.features-flex_left > p{
    width: 565px;
    font-size: 1.1rem;
    margin: 15px 0px;
}

.features-flex_left_link{
    width: 166px;
    border-bottom: 1px solid var(--green-link);
    color: var(--green-link);
    cursor: pointer;
}

.features-flex_comment{
    width: 360px;
    box-shadow: 0px 0px 10px 5px rgba(56, 56, 56, 0.04);
    padding: 15px 0px;
    margin-top: 50px;
}

.features-flex_comment_cont{
    width: 300px;
    margin: auto;
}

.features-flex_comment_cont > p{
    margin: 20px 0px;
    font-size: 0.8rem;
    text-align: left;
    width: 275px;
    line-height: 1.5rem;
}

.features-flex_comment_avatar{
    display: flex;
}

.features-flex_comment_avatar > img{
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
}

.features-flex_comment_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}


.features-flex_comment_text > h3{
    margin: 0px;
    font-size: 0.8rem;
}


.features-flex_comment_text > p{
    margin: 0px;
    font-size: 0.6rem;
}

/* ##### Team ##### */
.team{
    background-color: var(--footer-purple);
    padding: 100px 0px;
}

.team-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.team-flex_left{
    color: var(--white);
    width: 540px;
}

.team-flex_left > h2{
    margin: 0px;
}

.team-flex_left > p{
    margin: 10px 0px;
    font-size: 1.1rem;
}

.team-flex_right form{
    display: flex;
    flex-direction: column;
}

.team-flex_right form input{
    width: 480px;
    padding: 12px;
    font-size: 14px;
    margin-bottom: 16px;
}

.team-flex_right form button{
    background-color: var(--button-blue);
    color: var(--white);
    width: 200px;
    padding: 14px 5px;
    font-size: 14px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* ##### Footer ##### */
.footer{
    background-color: var(--dark-blue);
    padding: 80px 0px;
}

.footer-flex{
    display: flex;
    flex-direction: column;
}

.footer-flex_up{
    margin-bottom: 30px;
}

.footer-flex_down{
    display: flex;
    justify-content: space-between;
}

.footer-flex_down ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.footer-flex_down ul li{
    margin-bottom: 10px;
}

.footer-flex_down ul li a{
    text-decoration: none;
    color: var(--white);
}

.footer_social{
    display: flex;
    width: 120px;
    justify-content: space-between;
}

.footer .bi{
    display: inline-block;
    width: 20px;
    height: 20px;
    color: var(--white);
}

.bi, .bi-social{
    border: 1px solid var(--white);
    border-radius: 50%;
}

/* ========================== 
         Desktop Active      
   ==========================*/
form button:hover{
    background-color: var(--button-hover);
}

.footer ul li a:hover{
    color: var(--button-hover);
}

.bi-social:hover{
    color: var(--button-hover);
    border-color: var(--button-hover);
}

/* ==========================
        Responsive
   ========================== */

@media (max-width: 1300px) and (min-width: 1100px){
.container{
    max-width: 1000px;
}
.header-home_flex-left input{
    margin-bottom: 10px;
}
.features-flex_right img{
    width: 450px;
}
.team-flex{
    gap: 50px;
}
}

@media (max-width: 1099px) and (min-width: 800px){

}

@media (max-width: 799px) and (min-width: 500px){

}

@media (max-width: 499px) and (min-width: 0px){
    
}